<ion-view>
    <ion-nav-title>
        <span style="font-size:1.5rem">Menu</span>
    </ion-nav-title>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Title</span>
                <input type="text" placeholder="Title" ng-model="rscmc.menuTitle">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Description</span>
                <input type="text" placeholder="Description" ng-model="rscmc.menuDescription">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Price</span>
                <input type="number" placeholder="Price" ng-model="rscmc.menuPrice">
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-energized">
        <h2 class="title" ng-click="rscmc.addMenu()">Save</h2>
    </ion-footer-bar>
</ion-view>
